body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9b111e;
    color: white;
    text-align: center;
    padding: 20px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-container img {
    width: 50%;
    height: auto;
}

.data-container,
.weather-container {
    width: 45%;
}

footer {
    background-color: #e1e1e1;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
