img {
    margin: 50px;
    max-width: 100%;
    height: auto;
    
}

.containerlarge {
    margin: 50px;
    max-width: 600px;    /* Ancho del contenedor */
    border: 2px solid #333; /* Borde para visualizar el contenedor */
    text-align: center;
    background-color: purple;
    color: white;
}

.containermobile {
    margin: 60px;
    width: 300px;    /* Ancho del contenedor */
    border: 2px solid #333; /* Borde para visualizar el contenedor */
    text-align: center;
    background-color: purple;
    color: white;
}

h1 {
    padding-left: 30px;
    background-color: purple;
    color: white;

}

.sitename {
    text-align: center;
    background-color: rgb(205, 210, 255);
    color: purple;
}





footer {
    margin: 0;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px 0; /* Espaciado interno vertical */
}

body, footer {
    margin: 0;
}

p {
    margin-left: 30px;
}